@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-through {
    text-decoration: underline line-through;
  }

  .prose ul ul {
    list-style-type: circle;
  }

  .prose ul ul ul {
    list-style-type: square;
  }
}

@layer base {
  @media (prefers-color-scheme: dark) {
    html.dark {
      color-scheme: dark;
    }
  }
}
